body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: black;
  font-size: 12px;
  resize: both;
  overflow: auto;

}


#mydiv{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 270px;
    z-index: 9;
    background-color: transparent;
    text-align: left;
    border: 1px solid #f70404;
    background-color: rgb(181, 202, 211);
    font:9px;
    resize: both;
    overflow: auto;
    width: 270px;
}
#mydivheader {
    cursor: move;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.356);
    color: red;
    font:9px;
    overflow-x: scroll;
    width: 270px;
    
    
}

.mydivheader {
  cursor: move;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.356);
  color: red;
  font-size:9;
  overflow:auto;
  
}
#content{
  display:none;
  overflow: auto;
  width: 270px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* #scrollable-content {
  height: 180px;
  overflow: auto;
  background-color: blue;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.myButton {
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #95abe4 5%, #5972a7 100%);
	background-color:#8d9dc0;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
	padding:6px 12px;
	text-decoration:none;
  width: 132px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  background-color: transparent;
}
.custom-file-input::before {
  content: 'SELECT FIELD FILE';
  display: inline-block;
  
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #95abe4 5%, #5972a7 100%);
	background-color:#8d9dc0;
  border:1px solid #314179;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
	padding:6px 12px;
	text-decoration:none;
  width: 106px;
}
.custom-file-input:hover::before {
  background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#f1f1f1;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-input:active:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color: transparent;
}

#topButtons{
  padding: 1px;
}
#content{
  padding: 1px;
  width: 270px;
}
#scrollable-content{
  width:270px
}
/* .form_fields{
  padding: 1px;
  height: 100px;
  scroll-behavior:smooth;
  overflow:scroll;
  border: 1px;
  border-color: black;
} */

div.groove {border-style:dotted;
            border-color: black;
  border-collapse: collapse;
background-color: rgba(119, 115, 172, 0.26);
          height: 100px;
          overflow: scroll;
          position : relative; 
            bottom:0;
            width: 270px;
}